<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%=title %>
    </title>
</head>

<body>
    <% for (var i = 0; i < restaurant.length; i++) { %>
        <p><%=restaurant[i].id %></p>
        <p><%=restaurant[i].name %></p>
        <p><%=restaurant[i].score %></p>
        <p><%=restaurant[i].total %></p>
        <p><%=restaurant[i].picture %></p>
    <% } %>
    <p><%= user.id %></p>
    <p><%= user.username %></p>
    <p><%= recommend[0] %></p>
    <p><%= recommend[1] %></p>
    <p><%= recommend[2] %></p>
    <p><%= recommend[3] %></p>
    <p><%= recommend[3][1] %></p>
    <p><%= recommend[3][2] %></p>
    <p><%= recommend[3][3] %></p>
    <p>This user!: <%= recommend[user.id] %></p>
</body>

</html>
