<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%=title %>
    </title>
</head>

<body>
    <% for (var i = 0; i < restaurant.length; i++) { %>
        <p><%=restaurant[i].id %></p>
        <p><%=restaurant[i].name %></p>
        <p><%=restaurant[i].score %></p>
        <p><%=restaurant[i].total %></p>
        <p><%=restaurant[i].picture %></p>
    <% } %>
    <%= username %>
</body>

</html>
