<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css" />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"> </script>
    <script src="/javascripts/app.js"> </script>
    <script src="/javascripts/logout.js"> </script>
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css" />
    <title>
        <%=title %>
    </title>
</head>

<body>
  <div class="row eatTitle">
    <div class="col-xs-5"> EatWhat </div>
    <div class="col-xs-7">
      <a href="/users/logout" id="logout" role="button" class="btn btn-danger">Log out</a>
      <button type="button" class="btn btn-primary"><%= user.username %></button>
    </div>
  </div>
  <% for (var i = 0; i < restaurant.length; i++) { %>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="width: 100%">
        <%=restaurant[i].name %>
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%=restaurant[i].id %></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%=restaurant[i].score %></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%=restaurant[i].total %></a></li>
        <li role="presentation"><img src=<%=restaurant[i].picture%> /></li>
      </ul>
    </div>
  <% } %>
  <p><%= user.id %></p>
  <p><%= user.username %></p>
</body>

</html>
